* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* noto sherif */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
/* inter font */

.inter-normal {
  font-family: "Inter", sans-serif;
}

/* nav-styles */
.nav-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 1140px;
}

.nav-ul-list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 48px;
}

.nav-ul-list li {
  list-style: none;
}

.nav-ul-list li a {
  text-decoration: none;
}

.nav-item01 {
  color: rgb(37, 36, 50);
  font-weight: 700;
}

.nav-item02 {
  color: rgb(137, 135, 161);
}

.nav-item03 {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

/* fresh flower */
.fresh-flower {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0px auto;
}

.flower-title {
  padding-top: 180px;
}

.flower-sub-title {
  color: rgb(0, 0, 0);
  font-size: 4rem;
  font-weight: 700;
  padding-top: 35px;
}

.color-Change {
  color: rgb(233, 90, 8);
}

.flower-description {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  padding-top: 5px;
}

.flower-image {
  padding-top: 120px;
}

.flower-image img {
  width: 100%;
}

/* our plant styles */

.plant-heads {
  max-width: 1140px;
  margin: 0px auto;
  margin-top: 120px;
  text-align: center;
}

.plants-sub-title {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 68px;
}

.plants-description {
  max-width: 680px;
  margin: 0px auto;
  margin-bottom: 40px;
}

/* plants card styles*/
.plant-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.plants-cards {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  gap: 2px;
  width: 100%;
}

.plants-cards img {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
  margin-top: 15px;
  margin-bottom: 10px;
}

.bold {
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
  margin-bottom: 15px;
}

.btn-primary {
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  background: rgb(233, 90, 8);
  color: white;
  padding: 19px 50px;
}

/* flower and plants lover */

.plants-lover {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  margin-top: 210px;
  gap: 65px;
}

.flower-store {
  position: relative;
  max-width: 540px;
}

.image-du {
  position: static;
  width: 100%;
}

/* spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.trusted-badge {
  position: absolute;
  width: 60%;
  right: -20%;
  bottom: 70%;
  animation: spin 15s linear infinite;
}

.trusted {
  max-width: 540px;
}

.plant-lover-title {
  font-size: 3rem;
  font-weight: 700;
}

.trusted ul li {
  margin: 20px auto;
  font-size: 1.375rem;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.5);
}

/* deals styles */

.deals-header {
  margin-top: 133px;
}

.deals {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 120px;
}

.deals-title {
  font-size: 3.125rem;
  font-weight: 700;
}

.deals-description {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

/* percentage styles */

.plantsss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  gap: 3px;
  margin-bottom: 120px;
}

.plant-image001,
.plant-image002,
.plant-image003 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: white;
}

.plant-image-sub-title {
  font-size: 1.2rem;
  font-weight: 700;
}
.plant-image-sub-title1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.plant-image-description1 {
  font-size: 1.75rem;
  font-weight: 600;
}

.plant-image-description {
  font-size: 1rem;
  font-weight: 600;
}

.latest-deals-image-2 h2 {
  font-size: 2rem;
  font-weight: 700;
}

.plant-image001 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  max-width: 366px;
  height: 200px;
  border-radius: 10px;
  width: 100%;
}
.plant-image003 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  max-width: 750px;
  height: 410px;
  border-radius: 20px;
  width: 100%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}
.plant-image002 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  max-width: 366px;
  height: 198px;
  border-radius: 10px;
  width: 100%;
}

/* joint and colorful  styles */
.bunch {
  background-image: linear-gradient(rgba(70, 72, 73, 0.4)),
    url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 530px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 23px;
}

.bunch-title {
  font-size: 3.1rem;
  font-weight: 700;
}

.bunch-header {
  display: flex;
  justify-content: center;
  gap: 0px;
}

.email {
  color: rgba(0, 0, 0, 0.5);
  line-height: 19px;
  padding-left: 20px;
  width: 644px;
  max-height: 50px;
  border: none;
}

.btn-secondary {
  color: rgb(255, 255, 255);
  width: 186px;
  height: 50px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  background-color: rgb(233, 90, 8);
  border: none;
}

/* footer last styles */

.footer-section {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1140px;
  max-height: 250px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 70px;
}

.last-logos {
  margin-top: 30px;
}

.footer-description {
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
}
/* nav shared */
.top {
  margin-top: 35px;
}
.nav001 ul,
.nav002 ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
}

.nav001 ul a,
.nav002 ul a {
  color: rgba(107, 114, 128, 1);
  text-decoration: none;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 25px;
  margin-bottom: 210px;
}

/* hover effect */
.btn-simple {
  padding: 10px 20px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.btn-simple:hover {
  background-color: skyblue;
  transition: 0.5s;
  cursor: pointer;
}
