* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  margin: auto;
}

/* noto sherif */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

/*  */

.inter-normal {
  font-family: "Inter", sans-serif;
}

/* header styles */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 150px 120px 170px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding-right: 48px;
}

nav ul li a {
  text-decoration: none;
}

.nav-item01 {
  font-weight: 700;
  color: rgba(37, 36, 50, 1);
}

.nav-item02 {
  color: rgba(137, 135, 161, 1);
}

.nav-item03 {
  color: rgba(0, 0, 0, 1);
}

/* fresh flower */

.fresh-flower {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 500px;
  padding: 0px 140px 120px 140px;
}

.flower-title {
  padding-top: 162px;
}

.flower-sub-title {
  font-size: 4.1rem;
  font-weight: 700;
  color: black;
  padding-bottom: 12px;
}

.color-Change {
  color: rgba(233, 90, 8, 1);
}

.flower-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.flower-image {
  padding-top: 95px;
}

/* plants styles */

.plants-title {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.plants-sub-title {
  font-weight: 700;
  font-size: 3.125rem;
  padding-top: 90px;
  padding-bottom: 15px;
}

.plants-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* card styles */
.plant-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 1140px;
  margin: 49px auto;
}

.plants-cards {
  text-align: center;
}

.card-title {
  font-size: 1.375rem;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
  padding-top: 20px;
}

.bold {
  padding-top: 10px;
  font-size: 1.375rem;
  font-weight: 700;
}

.btn-primary {
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(233, 90, 8, 1);
  padding: 19px 80px;
  width: 270px;
  border: none;
  margin-top: 20px;
}

/* plants lover */
.plants-lover {
  display: flex;
  justify-content: center;
  margin: 200px auto;
  width: 1140px;
  gap: 80px;
}

.plant-lover-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: black;
  padding-top: 25px;
}

.plant-lover-bio {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

.trusted {
  position: relative;
}

.trusted-badge {
  width: 286px;
  height: 286px;
  margin-top: 100px;
  position: absolute;
  top: -225px;
  left: -265px;
}

/* deals styles */
.deals {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}


.deals-head {
  font-size: 3.125rem;
  font-weight: 700;
  color: black;
  padding-bottom: 16px;
}

.deals-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

/* plant images styles */
.plantsss {
  display: flex;
  justify-content: center;
  margin: 189px auto;
  margin-bottom: 50px;
}


.plant-image001 {
  /* background-image: url('../assets/deal-bloom.png'); */
  background: linear-gradient(rgba(0, 0, 0, 0.5)),
    url('../assets/deal-bloom.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 365px;
  height: 206px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.plant-image002 {
  background: linear-gradient(rgba(0, 0, 0, 0.5)),
    url('../assets/deal-ana.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 365px;
  height: 206px;
  border-radius: 14px;
}

.plant-image-bios {
  display: grid;
  place-items: center;
  padding: 65px 47px;
}

.plant-image-sub-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}

.plant-image-description {
  font-weight: 600;
  color: white;
}

.plant-image003 {
  background: linear-gradient(rgba(0, 0, 0, 0.5)),
    url('../assets/deal-zabo.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  border-radius: 14px;
  width: 753px;
  height: 430px;
  margin-left: 25px;
}


.plant-image-bios1 {
  display: grid;
  place-items: center;
  padding: 172px 127px;
}

.plant-image-sub-title1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}

.plant-image-description1 {
  font-size: 1.75rem;
  font-weight: 600;
  color: white;
}

/* Bunch styles */
.bunch-title {
  font-size: 3.125rem;
  font-weight: 700;
  color: white;
}

.btn-secondary {
  background-color: rgba(233, 90, 8, 1);
  font-weight: 600;
  padding: 19px 30px;
  color: white;
  width: 186px;
  height: 50px;
  border: none;
}

.bunch {
  background: linear-gradient(rgba(7, 51, 79, 0.4)),
    url('../assets/news-letter-bg.png');
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  width: 1440px;
  height: 530px;
}

.bunch-head {
  display: grid;
  place-items: center;
  padding: 195px 300px;
}

.flex {
  display: flex;
  margin-top: 25px;
}

.emails {
  width: 644px;
  height: 50px;
  padding: 15px 540px 15px 20px;

}

/* footer styles */

.last-logos img {
  margin-top: 50px;
}

.footer-description {
  font-size: 1.375rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 16px;
}

.nav001 {
  width: 85px;
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 0px;
  margin-top: 50px;
}

.nav001 a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}

.nav002 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 128px;
  height: 248px;
  gap: 32px;
  padding: 0px;
  margin-top: 50px;
}

.nav002 a {
  text-decoration: none;
  color: rgba(107, 114, 128, 1);
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 216px;
  height: 36px;
  gap: 24px;
  margin-top: 50px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 50px auto;
  width: 1120px;
  height: 300px;
  margin-bottom: 50px;
}